<div class="theCelebrities">
<h2 class="celebrities-title">The Celebrities:</h2>
<div class="celebrities-cards">
{{#each celebrities}}
<div class="celebrity-card">
<img class="celebrity-img" src="{{this.image}}" alt="imagen">
<p class="celebrity-name">{{this.name}}</p>
<a class="celebrity-details" href="/celebrities/{{this.id}}">(Show details)</a>


{{!-- EDIT CELEBS: --}}
<div class="edit-div">
   <img class="icon-img" src="/images/edit-button.png" alt="">
    <a class="name" href="celebrities/{{this.id}}/edit"> EDIT</a>
</div>

 {{!-- DELETE CELEBS: --}}

<form class="delete-div" action="celebrities/{{this.id}}/delete" method="POST">
   <img class="icon-img" src="/images/delete.png" alt="delete-x">
   <button class="name">DELETE</button>
</form>



</div>


{{/each}}
</div>

<a  class="no-deco" href="/celebrities/new"><button class="crear-button">Create your celebrity!</button>
</a>

</div>
